<footer>
    <div class="footer-content">
        <div class="footer-column">
            <ul>
                <li><a href="#">1</a></li>
            </ul>
            <ul>
                <li><a href="#">2</a></li>
            </ul>
            <ul>
                <li><a href="#">3</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <ul>
                <li><a href="https://www.instagram.com/valued.official/" target="_blank">4</a></li>
            </ul>
            <ul>
                <li><a href="https://www.tiktok.com/@valued.official/" target="_blank">5</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <ul>
                <li><a href="#">6</a></li>
            </ul>
            <ul>
                <li><a href="#">7</a></li>
            </ul>
            <ul>
                <li><a href="#">8</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <ul>
                <li><a href="#">9</a></li>
            </ul>
            <ul>
                <li><a href="#">10</a></li>
            </ul>
            <ul>
                <li><a href="#">11</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <span>© 2025 - <a href="https://www.moviler.com/">MOVILER</a></span>
    </div>
</footer>
